//== General Mode
.m-page {	
	// hide page when page loading is enabled
	.m-page--loading & {
		display: none;
	}
}	

//== Desktop Mode
@include desktop {
	.m-page {	
		// page container 
		.m-page__container {
			// wide layout mode
			padding: 0 array-get($m-config-base, page, container, padding, wide, x, desktop);

			// fluid layout mode
			.m-page--fluid & {
				padding: 0 array-get($m-config-base, page, container, padding, fluid, x, desktop);
			}
		}
	}
}

//== Desktop Mode
@include tablet-and-mobile {
	.m-page {	
		// page container 
		.m-page__container {
			padding: 0 array-get($m-config-base, page, container, padding, wide, x, mobile);

			.m-page--fluid & {
				padding: 0 array-get($m-config-base, page, container, padding, fluid, x, mobile);
			}
		}
	}
}