//
//** Aside Left
//

@mixin m-build-aside-left-base($layout) {
	//== Generak markup
	.m-aside-left {
		@include transition(array-get($layout, self, minimize, transition));
		width: array-get($layout, self, default, width);	
		background-color: array-get($layout, self, default, bg-color);
	}

	@include desktop {		
		
	}

	@include tablet-and-mobile {
		//== Mobile close button
		.m-aside-left {
			background: #fff;
		}
	}
}


//== Build Aside Left Base
@include m-build-aside-left-base( array-get($m-config-aside, aside-left ) );

//== Build Aside Left Offcanvas
@include m-generate-component--offcanvas(m-aside-left, tablet-and-mobile, array-get($m-config-aside, aside-left, self, offcanvas, tablet-and-mobile) ); 